<app-navbar-custom></app-navbar-custom>
<div class="contentWrapper">
    
    <div class="textContainer">
        <h1>

            <b>Cílem tohoto testu je zjistit, jakou vzdálenost jste schopni co NEJRYCHLEJI UJÍT
                v průběhu 6 minut a na základě výsledku orientačně posoudit vaši fyzickou zdatnost.</b>
                
            <p>Vydejte se co nejrychlejší chůzí vpřed. V případě únavy, zhoršení dechu nebo při jiných potížích
                zpomalte nebo si odpočiňte. Jakmile budete schopni, znovu v chůzi pokračujte. Přesně po 6 minutách se zastavte.</p>
                
            <a href="http://www.6minutprozdravi.cz/" class="minutLink">www.6minutprozdravi.cz</a>
        </h1>
    </div>  
</div>

