<section id="content-wrapper">
    <nav id="nav" class="navbar navbar-expand-sm navbar-dark bg-dark">
        <button class="btn btn-outline-danger mx-1" type="button" (click)="home()" id="Home">
            <mat-icon >home</mat-icon>
        </button>

        <button class="btn btn-outline-danger mx-1" type="button" (click)="results()" id="Home">
            <mat-icon >menu</mat-icon>
        </button>
    </nav>

    <div id="MainBody">
        <router-outlet></router-outlet>
    </div>

</section>