#content-wrapper {
    height: 100%;
    background-image: url(../assets/bg.png );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    overflow-y: hidden;
    overflow-x: hidden;
}

#nav{
    width: 100vw;
    margin-right: 0;
    margin-left: 0;
    color: white;
    background-color: blueviolet;
}
#MainBody{
    background-color: rgba(114, 114, 114,0.2);
    display: inherit;
    width: inherit;
    height: inherit;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}