<section class="content-wrapper">
    <div class="results">
        <p class="display-3">Vysledek</p>
        
        <hr>

        <p class="display-6">{{distance}} metru</p>

        <div class="circles">
            <div class="circle bg-danger"></div>
            <div class="circle bg-warning"></div>
            <div class="circle bg-success"></div>
        </div>

        <p class="display-9">{{state}}</p>

        <div class="buttons">
            <button type="button" class="btn btn-danger btn-sm">Historie</button>
            <button type="button" class="btn btn-dark btn-sm">Pokracovat</button>
        </div>

    </div>
</section>