<section class="content-wrapper" *ngIf="toShow">
    <div class="results">
        <p class="display-3">Výsledek</p>
        
        <hr>

        <p class="display-6">{{distance}} metrů</p>

        <div class="circles">
            <div class="circle bg-danger"></div>
            <div class="circle bg-warning"></div>
            <div class="circle bg-success"></div>
        </div>

        <p class="display-9">{{state}}</p>

        <div class="buttons">
            <button type="button" (click)="history()" class="btn btn-danger btn-sm">Historie</button>
            <button type="button" (click)="continue()" class="btn btn-dark btn-sm">Pokračovat</button>
        </div>

    </div>
</section>