        <app-after-walk [distance]=currWalk.distance [birthYear]=birthYear [toShow]=after></app-after-walk>
        <div id="progress" (change)="getPercent()" class="TrackModule">
            <div class="circle-wrapper">
                <div #ci id="circle">
                    <circle-progress
                    [backgroundOpacity]= "0.8"
                    [backgroundPadding]= "0"
                    [radius]= "102"
                    [space]= "-10"
                    [toFixed]= "0"
                    [maxPercent]= "100"
                    [outerStrokeGradient]= "true"
                    [outerStrokeWidth]= "12"
                    [outerStrokeColor]= 'outerStroke'
                    [outerStrokeGradientStopColor]= 'outerStrokeGradientStop'
                    [innerStrokeColor]= "innerStroke"
                    [innerStrokeWidth]= "9"
                    [title]= "tit"
                    [animationDuration]= "1500"
                    [showUnits]= "false"
                    [showBackground]= "false"
                    [clockwise]= "false"
                    [startFromZero]= "false"
                    [lazy]= "false"
                    [showImage]="true"
                    [percent]="getPercent()"
                    #circle 
                    >
                    </circle-progress>
    
                </div>
    
                <div class="heart-wrapper">
                    <img id="heart" src="../../assets/logoBIGreverse.png" alt="logo">
                </div>

            </div>
            
            
            <h1 id="Timer" class="Timer text-white" align="center">
                <countdown class="count-down" #counter [config]="{ leftTime: timeToTrack, demand: true }"></countdown>
            </h1>
        </div>

        <div class="content">
            <h2 id="Timer" class="Timer text-white" align="center">
                {{currWalk.distance}}
            </h2>
        </div>


        <div class="animation">

        </div>
        
        <div class="futr">
            <section id="buttons" class="container-fluid" align="center">
                <button (click)="onStart(counter)" id="button" class="button start">
                    <span class="material-icons md-light">arrow_forward_ios</span>
                </button>
                
                <button (click)="resetTimer()" id="button" class="button start">
                    <span class="material-icons md-light">restart_alt</span>
                </button>
            </section>
        </div>
