.content-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.buttonsSegment {
    width: 70vw;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
}

#button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.container-fluid {
    display: flex;
    justify-content: center;
}

.input-group {
    display: flex;
    justify-content: center;
}

.save {
    margin-bottom: 1rem;
}
