<section class="content-wrapper">
    <div class="buttonsSegment">

        <p class="display-4">Pohlaví</p>

        <section class="container-fluid" align="center">
            <button id="button" (click)="male()" class="btn btn-dark">
                <span class="material-icons">male</span>
            </button>
            <button id="button" (click)="female()" type="button" class="btn btn-dark">
                <span class="material-icons">female</span>
            </button>
        </section>

        <hr>

        <p class="display-4">Datum narození</p>

        <section class="container-fluid" align="center">
            <input class="date-own form-control" id="yyyy" style="width: 220px;" type="date" #dateSelect>
        </section>

        <hr>

        <p class="display-4">Dosažené vzdělání</p>
        
        <section class="container-fluid">
            <div class="input-group">
                <div class="educationWrapper">
                    <select class="custom-select" id="edu">
                        <option selected value="0">...</option>
                        <option value="1">Základní škola</option>
                        <option value="2">Střední škola</option>
                        <option value="3">Vysoká škola</option>
                    </select>
                </div>
            </div>
        </section>

        <hr>

        <button (click)="save()" class="save btn btn-lg btn-dark">
            Uložit
        </button>
    </div>
</section>