<section id="content-wrapper" class="container-fluid">
    <nav id="nav" class="navbar navbar-expand-sm navbar-dark bg-dark">
        <button class="btn btn-outline-danger mx-1" type="button" (click)="onClick()" id="Home">
            <mat-icon >home</mat-icon>
        </button>
    </nav>

    <body id="MainBody">
        <div id="progress" (change)="getPercent()" class="TrackModule" align="center">
            <div #ci id="circle">
                <circle-progress
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#880808'"
                [innerStrokeColor]="'#FFFFFF'"
                [animation]="true"
                [animationDuration]="300"
                [showImage]="true"
                [imageSrc]="LogoPath"
                [percent]="getPercent()"
                >
                </circle-progress>

            </div>
            
            <p id="percent">
                {{getPercent()}}
            </p>

            <img id="heart" [src]="LogoPath" alt="logo">
            
        </div>

        <h1 id="Timer" class="Timer text-white" align="center">
            <countdown class="count-down" #counter [config]="{ leftTime: 360, demand: true }"></countdown>
        </h1>

        <section id="buttons" class="container" align="center">
            <button (click)="onStart(counter)" id="button" class="button start">
                <span class="material-icons md-light">arrow_forward_ios</span>
            </button>

            <button (click)="resetTimer()" id="button" class="button start">
                <span class="material-icons md-light">restart_alt</span>
            </button>
        </section>

    </body>
</section>
