#nav{
    width: 100vw;
    margin-right: 0;
    margin-left: 0;
    color: white;
    background-color: blueviolet;
}
#MainBody{
    background-color: rgba(114, 114, 114,0.2);
    display: inherit;
    width: inherit;
    height: inherit;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

#heart{
    width: 10rem;
    height: 10rem;
    
}

.heart-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:3;
    position: absolute;
    width: 100vw;
    top: auto;
    left: auto;
}

.circle-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttons{
    position: absolute;
    bottom: 5%;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

}

#button {
    background-color: #ff0000;
    border: rgba(0, 0, 0, 0.363);
    color: white;
    height: 4rem;
    width: 4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-wrapper {
    height: 100%;
    background-image: url(../../assets/bg.png );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    overflow-y: hidden;
    overflow-x: hidden;
}

#Home{
    float: right;
    align-self: right;
    align-items: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

#progress{
    margin-top: 5rem;
}
