<section id="content-wrapper">
    <nav id="nav" class="navbar navbar-expand-sm navbar-dark bg-dark">
        <button class="btn btn-outline-danger mx-1" type="button" (click)="onClick()" id="Home">
            <mat-icon >home</mat-icon>
        </button>
    </nav>

    <div id="MainBody">
        <div id="progress" (change)="getPercent()" class="TrackModule">
            <div class="circle-wrapper">
                <div #ci id="circle">
                    <circle-progress
                    [backgroundOpacity]= "0.8"
                    [backgroundPadding]= "0"
                    [radius]= "102"
                    [space]= "-10"
                    [toFixed]= "0"
                    [maxPercent]= "100"
                    [outerStrokeGradient]= "true"
                    [outerStrokeWidth]= "12"
                    [outerStrokeColor]= 'outerStroke'
                    [outerStrokeGradientStopColor]= 'outerStrokeGradientStop'
                    [innerStrokeColor]= "innerStroke"
                    [innerStrokeWidth]= "9"
                    [title]= "tit"
                    [animationDuration]= "1500"
                    [showUnits]= "false"
                    [showBackground]= "false"
                    [clockwise]= "false"
                    [startFromZero]= "false"
                    [lazy]= "false"
                    [showImage]="true"
                    [percent]="getPercent()"
                    #circle 
                    >
                    </circle-progress>
    
                </div>
    
                <div class="heart-wrapper">
                    <img id="heart" src="../../assets/logoBIG.png" alt="logo">
                </div>

            </div>
            
            
            <h1 id="Timer" class="Timer text-white" align="center">
                <countdown class="count-down" #counter [config]="{ leftTime: 360, demand: true }"></countdown>
            </h1>
        </div>

        <div class="content">
            <h2 id="Timer" class="Timer text-white" align="center">
                {{currDist}}
            </h2>
        </div>

        <section id="buttons" class="container-fluid" align="center">

            <button (click)="onStart(counter)" id="button" class="button start">
                <span class="material-icons md-light">arrow_forward_ios</span>
            </button>

            <button (click)="resetTimer()" id="button" class="button start">
                <span class="material-icons md-light">restart_alt</span>
            </button>

        </section>

    </div>
</section>
